<div class="message-content truncate-links">
  @if (messages().length === 0) {
    <div class="empty-chat">No messages available</div>
  }
  @if (!isAtBottom()) {
    @if (closed()) {
      <div class="closed-chat">This chat session is closed</div>
    }
  }
  @let msgs = isAtBottom() ? messages() : messages().slice(0).reverse();
  @for (message of msgs; track message.hash) {
    @if (message.style?.length < 2) {
      <div class="enter-leave">{{ message.name }}{{ message.trip ? '⬥' + message.trip : '' }}
        <span [innerHTML]="message.html"></span>, {{ formatTime(message) }}</div>
    }
    @else {
      <div class="message-row">
        <div class="name" [class.me]="message.isMe">
            <span [style.color]="getColor(message)" [style.background-color]="getBackground(message)"><span
                [innerHTML]="showInvisibles(message.name)"></span>@if (message.email) { &nbsp;<a class="email-link" [href]="message.email">📫</a> }</span>
          @if (message.trip || !message.remote) {
            <span class="trip" [class.native]="!message.remote" [class.flagged]="!!message.flagged">{{ message.trip || '' }}</span>
          }
          @if (message.time) {
            <span class="time">{{ formatTime(message) }}</span>
          }
        </div>
        <div class="bubble-wrap" [class.me]="message.isMe"
             (mouseenter)="focusMessage(message, true)" (mouseleave)="focusMessage(message, false)"
             (click)="focusMessage(message, true)" [class.show-tools]="isFocused(message)">
          @let color = getColor(message);
          <div class="bubble" [class.local-light]="isLight(message)" [class.local-dark]="!isLight(message)"
               [style.color]="color" [style.background-color]="getBackground(message)">
            <span [innerHTML]="adjustMarkup(message.html, color) | safeHtml"></span>
            <span class="trailing-time"> ({{ formatTime(message) }})</span>
          </div>
          @if (inChat()) {
            <div class="tools">
              @if (message.isMe) {
                <i class="fa-solid fa-pencil" (click)="editMessage(message)"></i>
              }
              @else {
                <i class="fa-solid fa-quote-left" (click)="quoteMessage(message)"></i>
              }

              @if (message.isMe || isAdmin()) {
                <i class="fa-solid fa-trash-can" (click)="deleteMessage(message)"></i>
              }
            </div>
          }
        </div>
        @if (hasImages(message.html)) {
          <div class="image-preview" [class.me]="message.isMe">
            @for (imageUrl of getImages(message.html); track imageUrl) {
              <a [href]="imageUrl" target="_blank"><img [src]="imageUrl" alt="image"></a>
            }
          </div>
        }
      </div>
    }
  }
  @if (isAtBottom()) {
    @if (closed()) {
      <div class="closed-chat">This chat session is closed</div>
    }
  }
</div>
<div class="scroll-to-top" (click)="scrollToTop()" [class.show]="showScrollToTop()"
  ><i class="fa-solid fa-circle-up"></i></div>
<div class="scroll-to-bottom" (click)="scrollToBottom()" [class.show]="showScrollToBottom()"
  ><i class="fa-solid fa-circle-down"></i></div>
