@for (message of messages(); track message.hash) {
  <div class="name" [class.me]="isMe(message)">
      <span [style.color]="getColor(message)" [style.background-color]="getBackground(message)">{{
          message.name }}@if (message.email) { &nbsp;<a class="email-link" [href]="message.email">📫</a> }</span>
    @if (message.trip) {
      <span class="trip">{{ message.trip }}</span>
    }
    @if (message.timestamp) {
      <span class="time">{{ localTime() ? formatLocal(message.timestamp) : message.timestamp }}</span>
    }
  </div>
  <div class="bubble-wrap" [class.me]="isMe(message)"
       (mouseenter)="focusMessage(message, true)" (mouseleave)="focusMessage(message, false)"
       (click)="focusMessage(message, true)" [class.show-tools]="isFocused(message)">
    <div class="bubble" [innerHTML]="adjustMarkup(message.html)"
         [class.local-light]="isLight(message)" [class.local-dark]="!isLight(message)"
         [style.color]="getColor(message)" [style.background-color]="getBackground(message)"></div>
    @if (inChat()) {
      <div class="tools">
        @if (isMe(message)) {
          <i class="fa-solid fa-pencil" (click)="editMessage(message)"></i>
        }
        @else {
          <i class="fa-solid fa-quote-left" (click)="quoteMessage(message)"></i>
        }

        @if (isMe(message) || isAdmin()) {
          <i class="fa-solid fa-trash-can" (click)="deleteMessage(message)"></i>
        }
      </div>
    }
  </div>
}
