:host {
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.closed-chat, .empty-chat {
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

.message-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.email-link {
  text-decoration: none;
}

.name {
  align-items: baseline;
  display: flex;
  font-size: 0.9em;
  font-weight: bold;
  gap: 0;
  margin-left: 10px;

  > span {
    border-radius: 4px 4px 0 0;
    padding: 4px;
  }

  &.me {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 20px;
  }
}

.trip {
  font-weight: normal;
  line-height: 1;
  opacity: 0.40;

  &::before {
    content: "⬥";
  }
}

.trip.native::before {
  content: "●";
}

.me .trip {
  &::before {
    content: "";
  }

  &::after {
    content: "⬥";
  }
}

.me .trip.native::after {
  content: "●";
}

.time {
  font-weight: normal;
  line-height: 1;
  margin-left: 1em;
  opacity: 0.60;
}

.trailing-time {
  display: none;
}

.bubble-wrap {
  align-items: center;
  border-radius: 0.7em;
  display: flex;
  margin-bottom: 0.7em;
  margin-right: 0.7em;
  width: fit-content;

  .bubble {
    border-radius: 0.7em;
    padding: 0.7em;
  }

  .tools {
    background-color: transparent;
    display: flex;
    gap: 0.5em;
    opacity: 0;
    overflow: hidden;
    padding: 0.25em;
    pointer-events: none;

    i {
      cursor: pointer;

      &:first-child {
        padding-left: 0.25em;
      }

      &:last-child {
        padding-right: 0.25em;
      }
    }
  }

  &.me {
    align-self: flex-end;
    flex-direction: row-reverse;

    .bubble {
      text-align: end;
    }
  }

  &.show-tools {
    background-color: var(--main-bubble-tool-background);

    .tools {
      opacity: 1;
      overflow: visible;
      pointer-events: all;
    }
  }
}

.enter-leave {
  font-size: 0.9em;
  font-style: italic;
  padding: 0.2em;
  text-align: center;
}

.message-row {
  display: flex;
  flex-direction: column;
}

:host-context(.theme-li1999) .message-row {
  align-items: baseline;
  border-bottom: 1px solid gray;
  flex-direction: row;

  .bubble-wrap {
    border-radius: 0.2em;
    margin: 0;

    .bubble {
      padding: 0.7em 0;
      text-align: left;
    }

    &.show-tools {
      background-color: transparent;

      .tools {
        background-color: var(--main-bubble-tool-background);
        opacity: 1;
        overflow: visible;
        pointer-events: all;
      }
    }
  }

  .name, .bubble {
    font-size: 10pt;
  }

  .name.me {
    align-self: center;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 0;
  }

  .name > span {
    border-radius: 0;
    padding: 0;

    &:first-child::before {
      content: '★';
    }
  }

  .name::after {
    content: '\A0>\A0';
  }

  .me {
    flex-direction: row;
  }

  .me .trip {
    &::before {
      content: "⬥";
    }

    &::after {
      content: "";
    }
  }

  .me .trip.native::before {
    content: "●";
  }

  .me .trip.native::after {
    content: "";
  }

  &.me {
    align-self: flex-start;
    flex-direction: row;

    .bubble {
      text-align: start;
    }
  }

  .trip {
    opacity: 1;
  }

  .time {
    display: none;
  }

  .trailing-time {
    display: inline;
  }
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
  min-height: 180px;
  overflow-y: hidden;
  padding-left: 1em;
  padding-right: 2em;
  width: 100%;

  img {
    max-width: 320px;
    max-height: 180px;
    height: auto;       /* Maintains aspect ratio automatically */
    width: auto;        /* Maintains aspect ratio automatically */
    object-fit: contain; /* Ensures the whole image is visible without clipping */
  }

  &.me {
    justify-content: flex-end;
  }
}

:host-context(.theme-li1999) .image-preview {
  display: none;
}

.scroll-to-bottom, .scroll-to-top {
  align-items: center;
  align-self: flex-end;
  background-color: #00F;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 2em;
  height: 1.2em;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: 1em;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
  visibility: hidden;
  width: 1.2em;

  &.show {
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0.5s;
    visibility: visible;
  }
}

.scroll-to-bottom {
  bottom: 0.25em;
}

.scroll-to-top {
  top: 0.25em;
}
