:host {
  border-top: 1px solid #CCC;
  margin: 0.5em 0;
  padding: 0.75em 0;
  position: relative;

  &.on-top {
    border-bottom: 1px solid #CCC;
    border-top: none;
    margin-top: 0;
    padding-top: 0.25em
  }
}

#my-toolbar {
  align-items: center;
  background-color: var(--main-toolbar-background);
  border-bottom: none !important;
  display: flex;
  padding: 0.3em 0.5em;
}

quill-editor {
  width: 100%;
}

#editor {
  background-color: white;
  margin-bottom: 0.5em;
  max-height: 2.8em;
}

chat-color-selector {
  position: relative;
  top: -1px;
}

#emoji-button {
  appearance: none;
  float: none !important;
  margin-right: 1em;
  position: relative;
  top: -1px;
  transform: scale(1.75);
  width: auto;
}

#kaomoji-button {
  appearance: none;
  color: var(--main-quill-color);
  float: none !important;
  text-align: center;
  white-space: nowrap;
  width: auto;

  &:hover {
    color: var(--main-quill-active-tool);
  }
}

emoji-mart {
  display: none;
  position: fixed;
  z-index: 1;
}
