:host {
  border-top: 1px solid #ccc;
  margin: 0.5em 0;
  padding: 0.75em 0;

  &.on-top {
    border-bottom: 1px solid #ccc;
    border-top: none;
    margin-top: 0;
    padding-top: 0.25em
  }
}

quill-editor {
  width: 100%;
}

#my-toolbar {
  border-bottom: none !important;
}

#editor {
  background-color: white;
  margin-bottom: 0.5em;
  max-height: 2.8em;
}

.color-selector {
  display: inline-flex;
  position: relative;
  top: 0.25em;
}
