:host {
  border-top: 1px solid #CCC;
  margin: 0.5em 0;
  padding: 0.75em 0;
  position: relative;

  &.on-top {
    border-bottom: 1px solid #CCC;
    border-top: none;
    margin-top: 0;
    padding-top: 0.25em
  }
}

quill-editor {
  width: 100%;
}

#editor {
  background-color: white;
  margin-bottom: 0.5em;
  max-height: 2.8em;
}

.color-selector {
  display: inline-flex;
  position: relative;
  top: 0.25em;
}

#emoji-button {
  appearance: none;
  float: none !important;
  font-size: 1.75em;
  margin: 0 0.5em;
  position: relative;
  top: 0.15em;
  width: auto;
}

#kaomoji-button {
  appearance: none;
  color: var(--main-quill-color);
  float: none !important;
  text-align: center;
  white-space: nowrap;
  width: auto;

  &:hover {
    color: var(--main-quill-active-tool);
  }
}

emoji-mart {
  display: none;
  position: fixed;
  z-index: 1;
}
