main {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  margin: 0 10px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  position: absolute;
  top: 0;
  width: 100%;

  > div {
    background-color: var(--main-background);
    display: flex;
    gap: 1em;
    padding: 0 0.25em;
  }
}

.form-h1 {
  margin: 8px 0;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Meiryo, 'Hiragino Sans', Osaka, sans-serif;
  font-size: 1.5em;
}

.participants {
  align-items: baseline;
  border-bottom: 1px solid var(--main-border);
  border-top: 1px solid var(--main-border);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;

  .participant {
    background-color: var(--main-participant-background);
    border-radius: 4px;
    padding: 4px;
  }

  .empty-chat {
    font-style: italic;
  }
}

#my-toolbar {
  background-color: var(--main-toolbar-background);
  border-bottom: none !important;
}

.bubble-wrap {
  align-items: center;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;

  .bubble {
    border-radius: 10px;
    padding: 10px;
  }

  .tools {
    display: flex;
    flex-basis: 0;
    flex-grow: 0;
    gap: 0.25em;
    overflow: hidden;

    i {
      cursor: pointer;

      &:first-child {
        padding-left: 0.25em;
      }

      &:last-child {
        padding-right: 0.25em;
      }
    }
  }

  &.me {
    align-self: flex-end;
    flex-direction: row-reverse;

    .bubble {
      flex-grow: 1;
      text-align: end;
    }
  }

  &.show-tools {
    background-color: var(--main-bubble-tool-background);

    .tools {
      overflow: visible;
    }
  }
}

#theme-select {
  align-items: end;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  z-index: 1;

  .theme-list {
    border: 3px solid #999;
    color: black;
    display: none;
    flex-direction: column;
    position: relative;
    right: 0;

    > div {
      font-weight: bold;
      padding: 0.5em;
    }
  }
}

.connection-trouble {
  background-color: #F06;
  color: white;
  padding: 0.25em 0.5em;
  position: fixed;
  right: 2.25em;
  top: 0.5em;
  z-index: 2;

  animation: pulse-size 4s infinite ease-in-out;
}

@keyframes pulse-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.header {
  box-sizing: border-box;
  flex-shrink: 0;

  .entry-panel {
    align-items: flex-start;
    display: flex;
    gap: 0.5em;

    &.in-chat {
      align-items: baseline;
    }
  }

  .name-email {
    align-items: baseline;
    display: inline-grid;
    gap: 0.25em;
    grid-template-columns: auto auto
  }

  .color-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
    width: 16em;

    .cs-title {
      font-size: 0.8em;
    }
  }

  .option-block {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &.in-chat {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 1em;
      gap: 1em;
      position: relative;
      top: 2px;
    }
  }
}

.message-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.email-link {
  text-decoration: none;
}

.name {
  align-items: baseline;
  display: flex;
  font-size: 0.9em;
  font-weight: bold;
  gap: 0;
  margin-left: 10px;

  > span {
    border-radius: 4px 4px 0 0;
    padding: 4px;
  }

  &.me {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 20px;
  }
}

.trip {
  font-weight: normal;
  line-height: 1;
  opacity: 0.40;

  &::before {
    content: "⬥";
  }
}

.me .trip {
  &::before {
    content: "";
  }

  &::after {
    content: "⬥";
  }
}

.time {
  font-weight: normal;
  line-height: 1;
  margin-left: 1em;
  opacity: 0.60;
}
