<div class="navigation"><div>
  @for (link of navigation(); track link.url) {
    <a [href]="link.url" [target]="link.target || '_blank'">{{ link.name }}</a>
  }
</div></div>
<div class="theme-select">
  <i class="fa-solid fa-circle-half-stroke" (click)="showThemes.set(!showThemes())"></i>
  <div class="theme-list" [style.display]="showThemes() ? 'flex' : 'none'">
    <div (click)="setTheme('')" style="background-color: var(--primary-bkg)"
        >Default</div>
    <div (click)="setTheme('light-blue')" style="background-color: var(--theme-light-blue-bkg)"
        >Light Blue</div>
  </div>
</div>
<div class="connection-trouble" [style.display]="connectionTrouble() ? 'block' : 'none'">⚡️Connection trouble</div>
<main xmlns="http://www.w3.org/1999/html">
  <div class="header">
    <h1 class="form-h1">{{ title() }}</h1>
    <div class="entry-panel" [class.in-chat]="inChat()">
      @if (inChat()) {
        <span>{{ name() }}</span>
        <button (click)="leaveChat()">Leave room</button>
      }
      @else {
        <div class="name-email">
          <label for="name">Name</label>
          <input id="name" type="text" [(ngModel)]="name"/>
          <label for="name">Email</label>
          <input id="name" type="text" placeholder="optional" [(ngModel)]="email"/>
        </div>
        <button (click)="enterChat()" [disabled]="!name().trim()">Enter room</button>
        <div class="color-selector">
          <div class="cs-title">- select text color -</div>
          <div class="flex-break"></div>
          @for (buttonColor of colors; track buttonColor; let i = $index) {
            @if (!buttonColor) {
              <div class="flex-break"></div>
            }
            @else {
              <input type="radio" class="text-color-btn" name="text-color" [style.color]="buttonColor" [value]="i"
                [(ngModel)]="color" (ngModelChange)="updateColor()">
            }
          }
        </div>
      }
      <div class="option-block" [class.in-chat]="inChat()">
        <div class="label-pair">
          <input id="notify-sound" type="checkbox" [(ngModel)]="notifySound" (ngModelChange)="toggleNotifySound()">
          <label for="notify-sound">Notification sound</label>
        </div>
        <div class="label-pair">
          <input id="local-time" type="checkbox" [(ngModel)]="localTime" (ngModelChange)="toggleLocalTime()">
          <label for="local-time">Local time</label>
        </div>
        <div class="label-pair">
          <input id="new-on-bottom" type="checkbox" [(ngModel)]="newOnBottom" (change)="toggleMessageOrder()">
          <label for="new-on-bottom">New messages at bottom</label>
        </div>
        @if (inChat()) {
          <div class="label-pair">
            <label for="tripcode">Tripcode #</label>
            <input id="tripcode" type="password" [(ngModel)]="tripCode" autocomplete="off">
          </div>
        }
      </div>
    </div>
  </div>
  <div class="participants">
    <span>Participants:</span>
    @if (participants()) {
      @for (participant of participants(); track participant) {
        <span class="participant">{{ participant }}</span>
      }
    }
    @else {
      <span class="empty-chat">None</span>
    }
  </div>
  @if (inChat() && !newOnBottom()) {
    <app-message-entry class="on-top"
        (changeColor)="setColor($event)" (newMessage)="sendComment($event)"></app-message-entry>
  }
  <div class="message-list" id="message-list">
    @for (message of messages(); track message.hash) {
      <div class="name" [class.me]="isMe(message)">
        <span [style]="message.style" [style.background-color]="getTextBackground(message.style)">{{
            message.name }}@if (message.email) { &nbsp;<a class="email-link" [href]="message.email">📫</a> }</span>
        @if (message.trip) {
          <span class="trip">{{ message.trip }}</span>
        }
        @if (message.timestamp) {
          <span class="time">{{ localTime() ? formatLocal(message.timestamp) : message.timestamp }}</span>
        }
      </div>
      <div class="bubble-wrap" [class.me]="isMe(message)"
           (mouseenter)="focusMessage(message, true)" (mouseleave)="focusMessage(message, false)"
           (click)="focusMessage(message, true)" [class.show-tools]="isFocused(message)">
        <div class="bubble" [innerHTML]="magnifyEmoji(message.text)"
             [style]="message.style" [style.background-color]="getTextBackground(message.style)"></div>
        @if (inChat()) {
          <div class="tools">
            @if (isMe(message)) {
              <i class="fa-solid fa-pencil" (click)="editMessage(message)"></i>
            }
            @else {
              <i class="fa-solid fa-quote-left" (click)="quoteMessage(message)"></i>
            }

            @if (isMe(message) || isAdmin()) {
              <i class="fa-solid fa-trash-can" (click)="deleteMessage(message)"></i>
            }
          </div>
        }
      </div>
    }
  </div>
  @if (inChat() && newOnBottom()) {
    <app-message-entry
        (changeColor)="setColor($event)" (newMessage)="sendComment($event)"></app-message-entry>
  }
</main>
