<ng-template #messageEntry let-qlass="qlass">
  <chat-message-entry [disabled]="disableEditor()"
                      [class]="qlass" [darkMode]="darkMode()" [maxFileSizeInMb]="maxFileSizeInMb()"
                      [dmMode]="selectedChat() > 0" (uploadFile)="upload($event)" (changeColor)="setColor($event)"
                      (newMessage)="sendComment($event)" (updateMessage)="updateMessage($event)"></chat-message-entry>
</ng-template>
<div class="navigation"><div>
  @for (link of navigation(); track link.url) {
    <a [href]="link.url" [target]="link.target || '_blank'">{{ link.name }}</a>
  }
</div></div>
<div id="theme-select">
  <i class="fa-solid fa-circle-half-stroke fa-xl" (click)="showThemes.set(!showThemes())"></i>
  <div class="theme-list" [style.display]="showThemes() ? 'flex' : 'none'">
    @for (theme of themes; track theme) {
      <div (click)="setTheme(theme.name)" [style]="getThemeMenuStyle(theme.name)">{{ theme.displayName }}</div>
    }
    @if (framed) {
      <div class="revert-item" (click)="revert()">Back to original chat</div>
    }
  </div>
</div>
<div class="connection-trouble" [style.display]="connectionTrouble() ? 'block' : 'none'">⚡️Connection trouble</div>
<main xmlns="http://www.w3.org/1999/html">
  <div class="header">
    <h1 class="form-h1">{{ title() }}</h1>
    @if (!inChat()) {
      <button class="upper-enter" (click)="enterChat()" [disabled]="!name().trim()">Enter&nbsp;room</button>
    }
    <div class="entry-panel" [class.in-chat]="inChat()">
      @if (inChat()) {
        <span>{{ name() }}</span>
        <button (click)="leaveChat()">Leave&nbsp;room</button>
      }
      @else {
        <div class="name-email">
          <label for="name">Name</label>
          <input id="name" type="text" [(ngModel)]="name"/>
          <label for="name">Email</label>
          <input id="name" type="text" placeholder="optional" [(ngModel)]="email"/>
        </div>
        <button class="lower-enter" (click)="enterChat()" [disabled]="!name().trim()">Enter&nbsp;room</button>
        <div class="titled-color-selector">
          <span>- select text color -</span>
          <chat-color-selector [(color)]="color" [darkMode]="darkMode()"></chat-color-selector>
        </div>
      }
      @if (inChat()) {
        <div class="label-pair">
          <label for="tripcode">Tripcode&nbsp;#</label>
          <input id="tripcode" type="password" autocomplete="new-password" [(ngModel)]="tripCode">
        </div>
      }
      <div class="option-block" [class.in-chat]="inChat()">
        <div class="label-pair">
          <input id="notify-sound" type="checkbox" [(ngModel)]="notifySound" (ngModelChange)="toggleNotifySound()">
          <label for="notify-sound">Notification sound</label>
        </div>
        <div class="checkbox-pair">
          <div class="label-pair">
            <input id="local-time" type="checkbox" [(ngModel)]="localTime" (ngModelChange)="toggleLocalTime()">
            <label for="local-time">Local time</label>
          </div>
          <div class="label-pair">
            <input id="allow-dms" type="checkbox" [(ngModel)]="allowDMs" (change)="toggleAllowDMs()">
            <label for="allow-dms">Allow DMs</label>
          </div>
        </div>
        <div class="label-pair">
          <input id="new-on-bottom" type="checkbox" [(ngModel)]="newOnBottom" (change)="toggleMessageOrder()">
          <label for="new-on-bottom">New messages at bottom</label>
        </div>
      </div>
    </div>
  </div>
  <div class="participants">
    <span>Participants:</span>
    @if (participants()?.length > 0) {
      @for (participant of participants(); track participant.name) {
        <span class="participant" [class.native]="!participant.remote" [class.idle]="!!participant.idle"
              [class.can-chat]="participant.allowsDms && participant.name !== name()" (click)="startChat(participant.name)"
          >{{ participant.name }}
          @if (participant.allowsDms) {
            &nbsp;<i class="fa-regular fa-comment"></i>
          }
        </span>
      }
    }
    @else {
      <span class="empty-chat">None</span>
    }
    <div class="fake-frame-border"></div>
  </div>
  @if (inChat() && !newOnBottom()) {
    <ng-container [ngTemplateOutlet]="messageEntry" [ngTemplateOutletContext]="{ qlass: 'on-top' }"></ng-container>
  }
  <p-tabs [value]="selectedChat()" [class.out-of-chat]="!inChat()" (valueChange)="tabChanged($event)">
    <p-tablist [style.display]="dms().length > 0 ? 'flex' : 'none'">
      <p-tab [value]="0">Main chat</p-tab>
      @for (dm of dms(); track dm.name; let i = $index) {
        <p-tab [value]="i + 1"><i class="fa-regular fa-comment"></i> {{ dm.name }}
          <i class="fa-solid fa-circle-xmark closer" (click)="closeChat($event, i)"></i></p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <chat-message-list
            (connectionTrouble)="connectionTrouble.set(true)" [name]="name()" [tripCode]="tripCode()"
            [isAdmin]="isAdmin()" [darkMode]="darkMode()" [inChat]="inChat()" [localTime]="localTime()"
            [isAtBottom]="newOnBottom()" [messages]="messages()" [messageEntry]="messageEntrySignal()"
            (edit)="editMessage($event)" (delete)="deleteMessage($event)"></chat-message-list>
      </p-tabpanel>
      @for (dm of dms(); track dm.name; let i = $index) {
        <p-tabpanel [value]="i + 1">
          <chat-message-list [chatIndex]="i + 1" [closed]="!!dm.closed"
              (connectionTrouble)="connectionTrouble.set(true)" [name]="name()" [tripCode]="tripCode()"
              [isAdmin]="isAdmin()" [darkMode]="darkMode()" [inChat]="true" [localTime]="localTime()"
              [isAtBottom]="newOnBottom()" [messages]="dm.messages()" [messageEntry]="messageEntrySignal()"
              (edit)="editMessage($event)" (delete)="deleteMessage($event)"></chat-message-list>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
  @if (inChat() && newOnBottom()) {
    <ng-container [ngTemplateOutlet]="messageEntry" [ngTemplateOutletContext]="{ qlass: 'at-bottom' }"></ng-container>
  }
  @if (!inChat() && newOnBottom()) {
    <div class="spacer"></div>
  }
</main>
<div [class]="'notification ' + notificationType()" [style.display]="showNotification() ? 'flex' : 'none'">
  <span class="notification-message">{{ notificationMessage() }}</span>
  <button (click)="hideNotification()">OK</button>
</div>
<div class="notification confirm" [style.display]="showConfirmation() ? 'flex' : 'none'">
  <span class="notification-message">{{ notificationMessage() }}</span>
  <div class="confirm-buttons">
    <button (click)="confirm()">OK</button>
    <button (click)="dontConfirm()">Cancel</button>
  </div>
</div>
