main {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  margin: 0 10px;
}

.navigation {
  display: flex;
  gap: 1em;
  height: 0;
  justify-content: center;
  margin: 0.5em 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header {
  box-sizing: border-box;
  flex-shrink: 0;

  .entry-panel {
    align-items: flex-start;
    display: flex;
    gap: 0.5em;

    &.in-chat {
      align-items: baseline;
    }
  }

  .name-email {
    align-items: baseline;
    display: inline-grid;
    gap: 0.25em;
    grid-template-columns: auto auto
  }

  .color-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
    width: 16em;

    .cs-title {
      font-size: 0.8em;
    }
  }

  .option-block {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &.in-chat {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 1em;
      gap: 1em;
      position: relative;
      top: 2px;
    }
  }
}

.participants {
  align-items: baseline;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;

  .participant {
    background-color: #ccc;
    border-radius: 4px;
    padding: 4px;
  }

  .empty-chat {
    font-style: italic;
  }
}

.message-list {
  flex: 1;
  overflow-y: scroll;
}

.bubble {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  width: fit-content;
}

.email-link {
  text-decoration: none;
}

.name {
  align-items: baseline;
  display: flex;
  font-size: 0.9em;
  font-weight: bold;
  gap: 0;
  margin-left: 10px;

  > span {
    border-radius: 4px 4px 0 0;
    padding: 4px;
  }
}

.trip {
  font-weight: normal;
  line-height: 1;
  opacity: 0.40;

  &::before {
    content: "⬥";
  }
}

.time {
  font-weight: normal;
  line-height: 1;
  margin-left: 1em;
  opacity: 0.60;
}
