<main xmlns="http://www.w3.org/1999/html">
  <div class="header">
    <h1 class="form-h1">Chat</h1>
    <div class="entry-panel">
      @if (inChat()) {
        <input id="comment" type="text" [(ngModel)]="comment" (keyup.enter)="sendComment($event)"/>
        <button (click)="leaveChat()">Leave room</button>
      }
      @else {
        <div class="name-email">
          <label for="name">Name</label>
          <input id="name" type="text" [(ngModel)]="name"/>
          <label for="name">Email</label>
          <input id="name" type="text" placeholder="optional" [(ngModel)]="email"/>
        </div>
        <button (click)="enterChat()" [disabled]="!name().trim()">Enter room</button>
        <div class="color-selector">
          <div class="cs-title">- select text color -</div>
          <div class="flex-break"></div>
          @for (buttonColor of colors; track buttonColor; let i = $index) {
            @if (!buttonColor) {
              <div class="flex-break"></div>
            }
            @else {
              <input type="radio" class="text-color" name="text-color" [style.color]="buttonColor" [value]="i"
                [(ngModel)]="color" (change)="updateColor()">
            }
          }
        </div>
      }
      <div class="option-block">
        <div class="label-pair">
          <input id="notify-sound" type="checkbox" [(ngModel)]="notifySound" (change)="toggleNotifySound()">
          <label for="notify-sound">Notification sound</label>
        </div>
        <div class="label-pair">
          <input id="local-time" type="checkbox" [(ngModel)]="localTime" (change)="toggleLocalTime()">
          <label for="local-time">Local time</label>
        </div>
        <div class="label-pair">
          <input id="new-on-bottom" type="checkbox" [(ngModel)]="newOnBottom" (change)="toggleMessageOrder()">
          <label for="new-on-bottom">New messages at bottom</label>
        </div>
      </div>
    </div>
  </div>
  <div class="participants">
    <span>Participants:</span>
    @for (participant of participants(); track participant) {
      <span class="participant">{{ participant }}</span>
    }
  </div>
  <div class="message-list" id="message-list">
    @for (message of messages(); track message.hash) {
      <div class="name">
        <span [style]="message.style" [style.background-color]="getTextBackground(message.style)">{{
            message.name }}@if (message.email) { &nbsp;<a class="email-link" [href]="message.email">📫</a> }</span>
        @if (message.trip) {
          <span class="trip">{{ message.trip }}</span>
        }
        @if (message.timestamp) {
          <span class="time">{{ localTime() ? formatLocal(message.timestamp) : message.timestamp }}</span>
        }
      </div>
      <div class="bubble" [innerHTML]="message.text"
           [style]="message.style" [style.background-color]="getTextBackground(message.style)"></div>
    }
  </div>
</main>
<router-outlet/>
