main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0 10px;
}

.upper-enter {
  display: none;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  position: absolute;
  top: 0;
  width: 100%;

  > div {
    background-color: var(--main-background);
    display: flex;
    gap: 1em;
    padding: 0 0.25em;
  }
}

.form-h1 {
  margin: 8px 0;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Meiryo, 'Hiragino Sans', Osaka, sans-serif;
  font-size: 1.5em;
}

.participants {
  align-items: baseline;
  border-bottom: 1px solid var(--main-border);
  border-top: 1px solid var(--main-border);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;
  position: relative;

  .participant {
    background-color: var(--main-participant-background);
    border-radius: 4px;
    padding: 4px;

    &.idle {
      opacity: 0.6;
    }

    &.native {
      font-weight: bold;
      -webkit-text-stroke: 1px #AAF;
      paint-order: stroke fill;
    }

    i {
      opacity: 0.4;
      -webkit-text-stroke-width: 0;
    }

    &.can-chat {
      cursor: pointer;

      i {
        opacity: 1;
      }
    }
  }

  .empty-chat {
    font-style: italic;
    padding: 4px 0;
  }

  .fake-frame-border {
    bottom: 0;
    height: 0;
    position: absolute;
    width: 100%;
  }
}

:host-context(.theme-dark) .participants .participant.native {
  -webkit-text-stroke: 1px #00F;
}

:host-context(.theme-li1999) .participants {
  border-bottom: 1px solid black;
  padding-bottom: 0.8em;

  .fake-frame-border {
    background: #CCC;
    border-top: 1px solid #AAA;
    height: 4px;
  }
}

#theme-select {
  align-items: end;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0.5em;
  top: 1em;
  z-index: 1;

  .theme-list {
    border: 3px solid #999;
    color: black;
    display: none;
    flex-direction: column;
    position: relative;
    right: 0;
    top: 1em;

    > div {
      font-weight: bold;
      padding: 0.5em;
    }
  }

  .revert-item {
    background-color: var(--primary-background);
    color: black;
    font-style: italic;
  }
}

.connection-trouble {
  background-color: #F06;
  color: white;
  padding: 0.25em 0.5em;
  position: fixed;
  right: 2.75em;
  top: 0.5em;
  z-index: 2;

  animation: pulse-size 4s infinite ease-in-out;
}

@keyframes pulse-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.header {
  box-sizing: border-box;
  flex-shrink: 0;

  .entry-panel {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    &.in-chat {
      align-items: baseline;
    }
  }

  .name-email {
    align-items: baseline;
    display: inline-grid;
    gap: 0.25em;
    grid-template-columns: auto auto
  }

  .titled-color-selector {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 0.25em;

    > span {
      font-size: 0.8em;
    }
  }

  .option-block {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .checkbox-pair {
      display: flex;
      gap: 1em;
    }

    &.in-chat {
      align-items: center;
      flex-direction: row;
      margin-left: 1em;
      gap: 1em;
      position: relative;
      top: 2px;
    }
  }
}

.spacer {
  height: 16px;
}

.notification {
  background-color: white;
  border: 2px solid var(--main-border);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  left: 50%;
  justify-content: space-between;
  max-width: 33dvw;
  min-height: 150px;
  min-width: 250px;
  padding: 1em;
  position: fixed;
  top: 33%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &.error {
    background-color: var(--main-notification-error-background);
  }

  &.info {
    background-color: var(--main-notification-info-background);
  }

  &.warning {
    background-color: var(--main-notification-warning-background);
  }

  &.confirm {
    background-color: var(--main-notification-confirm-background);
  }

  > button {
    align-self: center;
    min-width: 60px;
  }

  .confirm-buttons {
    align-items: center;
    align-self: center;
    display: flex;
    gap: 1em;

    button {
      min-width: 4em;
    }
  }
}

p-tabs {
  height: 100%;
  overflow: hidden;

  &.out-of-chat {
    margin-bottom: 1em;
  }

  p-tablist {
    background-color: transparent;
    min-height: 38px;

    p-tab {
      align-self: flex-end;
      background-color: #0003;
      border-color: transparent;
      color: var(--main-color);
      margin: 0 0.25em;
      padding: 0.5em 0.75em;

      &:hover {
        color: inherit;
      }

      &.p-tab-active {
        border-color: var(--main-color);
        padding: 0.75em;
      }

      .unseen-count {
        font-size: 0.8em;
      }

      .closer {
        cursor: pointer;
      }
    }
  }

  p-tabpanels {
    background-color: transparent;
    max-height: 100%;
    min-height: calc(100% - 38px);
    overflow: hidden;
    padding: 0.5em 0 0 0;

    p-tabpanel {
      color: var(--main-color);
      display: flex;
      max-height: 100%;

      &[hidden] {
        display: none;
      }
    }
  }
}

.p-tablist-active-bar {
  display: none;
}

.p-tablist-tab-list {
  border-width: 0 !important;
}

:host-context(.theme-dark) {
  p-tabs {
    p-tablist {
      p-tab {
        background-color: #FFF3;
      }
    }
  }
}

@media (max-width: 900px) {
  .form-h1 {
    display: inline-block;
    margin-right: 1em;
    margin-top: 1.5em;
  }

  .upper-enter {
    display: inline;
  }

  .lower-enter {
    display: none;
  }

  .connection-trouble {
    top: 2.25em;
  }

  .header {
    .option-block {
      flex-direction: row;
      gap: 0.25em;
    }
  }

  .titled-color-selector {
    position: relative;
    top: -0.2em;
  }
}

@media (max-width: 420px) {
  .navigation {
    font-size: 0.8em;
  }
}
