/* You can add global styles to this file, and also import other style files */
/* #eddad2 */

body {
  background-color: #EDDAD2;
  font: 14px "Trebuchet MS", Tahoma, Verdana, Arial, Meiryo, 'Hiragino Sans', Osaka, sans-serif;
  margin: 0;
  overflow: hidden;
}

.form-h1 {
  margin: 8px 0;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Meiryo, 'Hiragino Sans', Osaka, sans-serif;
  font-size: 1.5em;
}

.code {
  font-family: monospace;
}

.fontSize1 {
  font-size: 0.625em;
}

.fontSize2 {
  font-size: 0.8125em;
}

.fontSize3 {
  font-size: 1em;
}

.fontSize4 {
  font-size: 1.125em;
}

.fontSize5 {
  font-size: 1.5em;
}
