:root {
  --primary-background: #DDD;
  --main-background: #DDD;
  --main-border: #CCC;
  --main-bubble-tool-background: #CCC;
  --main-color: #000;
  --main-link-color: #00E;
  --main-link-visited: #528;
  --main-link-hover: #06F;
  --main-link-active: #F00;
  --main-participant-background: #CCC;
  --main-toolbar-background: #DDD;
  --main-toolbar-item-background: #FFF;
}

body {
  background-color: var(--main-background);
  color: var(--main-color);
  font: 14px "Trebuchet MS", Tahoma, Verdana, Arial, Meiryo, 'Hiragino Sans', Osaka, sans-serif;
  margin: 0;
  overflow: clip;
}

a {
  color: var(--main-link-color);

  &:visited {
    color: var(--main-link-visited);
  }

  &:hover {
    color: var(--main-link-hover);
  }

  &:active {
    color: var(--main-link-active);
  }
}

.local-light a {
  color: #00E;

  &:visited {
    color: #528;
  }

  &:hover {
    color: #06F;
  }

  &:active {
    color: #F00;
  }
}

.local-dark a {
  color: #6AB0F3;

  &:visited {
    color: #C084FC;
  }

  &:hover {
    color: #93C5FD;
  }

  &:active {
    color: #FBBF24;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  position: absolute;
  top: 0;
  width: 100%;

  > div {
    background-color: var(--main-background);
    display: flex;
    gap: 1em;
    padding: 0 0.25em;
  }
}

.form-h1 {
  margin: 8px 0;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Meiryo, 'Hiragino Sans', Osaka, sans-serif;
  font-size: 1.5em;
}

.code {
  font-family: monospace;
}

.fontSize1 {
  font-size: 0.625em;
}

.fontSize2 {
  font-size: 0.8125em;
}

.fontSize3 {
  font-size: 1em;
}

.fontSize4 {
  font-size: 1.125em;
}

.fontSize5 {
  font-size: 1.5em;
}

.flex-break {
  flex-basis: 100%;
  width: 0;
}

.label-pair {
  align-items: center;
  display: flex;
  gap: 0.25em;
}

.text-color-btn {
  appearance: none;
  border-radius: 50%;
  background-color: currentColor;
  border: 1px solid currentColor;
  cursor: pointer;
  height: 1.2em;
  width: 1.2em;

  &:checked {
    outline: 3px solid currentColor;
  }
}

.at-bottom .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: -10.3em !important;
}

.big-emoji {
  font-size: 1.5em;
  line-height: 0.5em;
  top: 0.15em;
  overflow: visible;
  position: relative;
}

.participants {
  align-items: baseline;
  border-bottom: 1px solid var(--main-border);
  border-top: 1px solid var(--main-border);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;

  .participant {
    background-color: var(--main-participant-background);
    border-radius: 4px;
    padding: 4px;
  }

  .empty-chat {
    font-style: italic;
  }
}

#my-toolbar {
  background-color: var(--main-toolbar-background);
  border-bottom: none !important;
}

.bubble-wrap {
  align-items: center;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;

  .bubble {
    border-radius: 10px;
    padding: 10px;
  }

  .tools {
    display: flex;
    flex-basis: 0;
    flex-grow: 0;
    gap: 0.25em;
    overflow: hidden;

    i {
      cursor: pointer;

      &:first-child {
        padding-left: 0.25em;
      }

      &:last-child {
        padding-right: 0.25em;
      }
    }
  }

  &.me {
    align-self: flex-end;
    flex-direction: row-reverse;

    .bubble {
      flex-grow: 1;
      text-align: end;
    }
  }

  &.show-tools {
    background-color: var(--main-bubble-tool-background);

    .tools {
      overflow: visible;
    }
  }
}

.kaomoji {
  font-family: "MS PGothic", "Mona", "Monapo", "IPAMonaPGothic", "IPAPGothic", "saitamaar_light", "submona", sans-serif !important;
}

#kaomoji {
  background-color: var(--main-toolbar-background);
  border: 1px solid var(--main-border);
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25em;
  justify-items: stretch;
  padding: 0.5em;
  position: fixed;

  > div {
    background-color: var(--main-toolbar-item-background);
    cursor: pointer;
    padding: 0.25em;
    text-align: center;
  }
}
