:root {
  --primary-bkg: #DDD;
  --theme-light-blue-bkg: #DEF;
  --theme-light-mint-bkg: #CCFFDD;
  --theme-light-desert-bkg: #FFE6C0;
  --theme-dark-blue-bkg: #004;
  --theme-dark-cypress-bkg: #004040;
  --theme-dark-midnight-bkg: #111;
  --theme-dark-text: #DDD;
}

body {
  background-color: var(--primary-bkg);
  font: 14px "Trebuchet MS", Tahoma, Verdana, Arial, Meiryo, 'Hiragino Sans', Osaka, sans-serif;
  margin: 0;
  overflow: clip;

  &.theme-light-blue {
    background-color: var(--theme-light-blue-bkg);
  }

  &.theme-light-mint {
    background-color: var(--theme-light-mint-bkg);
  }

  &.theme-light-desert {
    background-color: var(--theme-light-desert-bkg);
  }

  &.theme-dark-blue {
    background-color: var(--theme-dark-blue-bkg);
  }

  &.theme-dark-cypress {
    background-color: var(--theme-dark-cypress-bkg);
  }

  &.theme-dark-midnight {
    background-color: var(--theme-dark-midnight-bkg);
  }

  &.theme-dark {
    color: var(--theme-dark-text);

    .ql-editor {
      background-color: #333;
      color: var(--theme-dark-text);

      &.ql-blank::before {
        color: #aaa !important;
      }

      code {
        background-color: #666;
      }
    }

    .ql-snow .ql-picker-options {
      background-color: #666;
    }

    .ql-stroke, .ql-picker-label, .ql-picker-item {
      color: var(--theme-dark-text);
      stroke: var(--theme-dark-text);
    }

    .ql-fill {
      fill: var(--theme-dark-text);
    }

    .ql-snow a,
    .ql-snow.ql-toolbar button:hover,
    .ql-snow .ql-toolbar button:hover,
    .ql-snow.ql-toolbar button:focus,
    .ql-snow .ql-toolbar button:focus,
    .ql-snow.ql-toolbar button.ql-active,
    .ql-snow .ql-toolbar button.ql-active,
    .ql-snow.ql-toolbar .ql-picker-label:hover,
    .ql-snow .ql-toolbar .ql-picker-label:hover,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active,
    .ql-snow.ql-toolbar .ql-picker-item:hover,
    .ql-snow .ql-toolbar .ql-picker-item:hover,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
      color: #0CF; // from #06C
    }

    .ql-snow.ql-toolbar button:hover .ql-fill,
    .ql-snow .ql-toolbar button:hover .ql-fill,
    .ql-snow.ql-toolbar button:focus .ql-fill,
    .ql-snow .ql-toolbar button:focus .ql-fill,
    .ql-snow.ql-toolbar button.ql-active .ql-fill,
    .ql-snow .ql-toolbar button.ql-active .ql-fill,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
    .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
    .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
    .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
    .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
      fill: #0CF;
    }

    .ql-snow.ql-toolbar button:hover .ql-stroke,
    .ql-snow .ql-toolbar button:hover .ql-stroke,
    .ql-snow.ql-toolbar button:focus .ql-stroke,
    .ql-snow .ql-toolbar button:focus .ql-stroke,
    .ql-snow.ql-toolbar button.ql-active .ql-stroke,
    .ql-snow .ql-toolbar button.ql-active .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
    .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
    .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
    .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
    .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
    .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
    .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
    .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
    .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
    .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
    .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
    .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
      stroke: #0CF;
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  position: absolute;
  top: 0;
  width: 100%;

  > div {
    background-color: var(--primary-bkg);
    display: flex;
    gap: 1em;
    padding: 0 0.25em;
  }
}

body.theme-light-blue .navigation > div {
  background-color: var(--theme-light-blue-bkg);
}

body.theme-light-mint .navigation > div {
  background-color: var(--theme-light-mint-bkg);
}

body.theme-light-desert .navigation > div {
  background-color: var(--theme-light-desert-bkg);
}

body.theme-dark-blue .navigation > div {
  background-color: var(--theme-dark-blue-bkg);
  color: var(--theme-dark-text);
}

body.theme-dark-cypress .navigation > div {
  background-color: var(--theme-dark-cypress-bkg);
  color: var(--theme-dark-text);
}

body.theme-dark-midnight .navigation > div {
  background-color: var(--theme-dark-midnight-bkg);
  color: var(--theme-dark-text);
}

.form-h1 {
  margin: 8px 0;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Meiryo, 'Hiragino Sans', Osaka, sans-serif;
  font-size: 1.5em;
}

.code {
  font-family: monospace;
}

.fontSize1 {
  font-size: 0.625em;
}

.fontSize2 {
  font-size: 0.8125em;
}

.fontSize3 {
  font-size: 1em;
}

.fontSize4 {
  font-size: 1.125em;
}

.fontSize5 {
  font-size: 1.5em;
}

.flex-break {
  flex-basis: 100%;
  width: 0;
}

.label-pair {
  align-items: center;
  display: flex;
  gap: 0.25em;
}

.text-color-btn {
  appearance: none;
  border-radius: 50%;
  background-color: currentColor;
  border: 1px solid currentColor;
  cursor: pointer;
  height: 1.2em;
  width: 1.2em;

  &:checked {
    outline: 3px solid currentColor;
  }
}

.ql-editor {
  padding: 4px;
  height: 2.75em;
}

.at-bottom .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: -10.3em !important;
}

.big-emoji {
  font-size: 1.5em;
  line-height: 0.5em;
  top: 0.15em;
  overflow: visible;
  position: relative;
}

.participants {
  align-items: baseline;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;

  .participant {
    background-color: #CCC;
    border-radius: 4px;
    padding: 4px;
  }

  .empty-chat {
    font-style: italic;
  }
}

.theme-dark .participants {
  border-color: #666;

  .participant {
    background-color: #666;
  }
}

#my-toolbar {
  background-color: #DDD;
  border-bottom: none !important;
}

.theme-dark #my-toolbar {
  background-color: #666;
}

.bubble-wrap {
  align-items: center;
  background-color: #CCC;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;

  .bubble {
    border-radius: 10px;
    padding: 10px;
  }

  .tools {
    display: flex;
    flex-basis: 0;
    flex-grow: 0;
    gap: 0.25em;
    overflow: hidden;

    i {
      cursor: pointer;

      &:first-child {
        padding-left: 0.25em;
      }

      &:last-child {
        padding-right: 0.25em;
      }
    }
  }

  &.me {
    align-self: flex-end;
    flex-direction: row-reverse;

    .bubble {
      flex-grow: 1;
      text-align: end;
    }
  }

  &.show-tools .tools {
    overflow: visible;
  }
}

.theme-dark .bubble-wrap {
  background-color: #666;
}

.theme-dark a {
  color: #6ab0f3;

  &:visited {
    color: #c084fc;
  }

  &:hover {
    color: #93c5fd;
  }

  &:active {
    color: #fbbf24;
  }

  &:focus-visible {
    outline: 2px solid #6ab0f3;
    outline-offset: 2px;
  }
}

.kaomoji {
  font-family: "MS PGothic", "Mona", "Monapo", "IPAMonaPGothic", "IPAPGothic", "saitamaar_light", "submona", sans-serif !important;
}

#kaomoji {
  background-color: #DDD;
  border: 1px solid #CCC;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25em;
  justify-items: stretch;
  padding: 0.5em;
  position: fixed;

  > div {
    background-color: white;
    cursor: pointer;
    padding: 0.25em;
    text-align: center;
  }
}

.theme-dark #kaomoji {
  background-color: #666;
  border-color: #CCC;

  > div {
    background-color: #333;
  }
}

.ql-font-ms-pgothic {
  font-family: "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
}
